<div class="pl-sm-4 ml-sm-5 pt-2">
    <div class="row">
        <div class="col-12">
            {{ range $key, $taxonomy := .Site.Taxonomies.categories.Alphabetical }}
            <div class="pb-3">
                <h5>
                    <span class="badge category">
                        {{ .Name }}
                    </span>
                </h5>
                <ul class="list-unstyled inline-list">
                    {{ range $taxonomy.Pages }}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        <i>{{ .Date.Format "Jan 2 2006" }}</i>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<style>
    .inline-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 0;
        list-style: none;
    }

    .inline-list li i {
        font-size: 0.8em;
        color: #888888;
        opacity: 0.7;
        margin-left: 5px;
    }
</style>
